.products {
    padding: 50px 40px;
    border-radius: 20px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	width: 100%;
    background-color: #181818;
}
.title {
	text-align: center;
	font-size: 30px;
}
.list {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
}
.image_box {
	width: 100%;
	height: auto;
}
.image {
	width: 100%;
    border-radius: 20px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.title_wrapper{
    font-size: 25px;
    margin-top: 30px;
    color: #d3d3d3;
}
.cat{
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(76, 76, 76);
}
.prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
    font-size: 20px;
}
.purchases{
    font-size: 20px;
}
.oldPrice{
    text-decoration: line-through;
     color: rgb(188, 155, 9);
}
.price{
    color: rgb(0, 136, 82);
}
.info{
    display: flex;
    background-color: #181818;
    border-radius: 10px;
    padding: 10px; 
} 
.purchases{
    font-size: 17px;
    color: rgb(77, 77, 77);
}
.product{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background-color: #212121;
    padding: 30px 15px;
    border-radius: 10px;
}