.products {
    padding: 50px 40px;
    border-radius: 20px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	width: 100%;
    
    background-color: #181818;
}
.title {
	text-align: center;
	font-size: 30px;
}
.list {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
}
.image_box {
	width: 100%;
	height: auto;
    padding: 10px;
}
.image {
	width: 100%;
    border-radius: 20px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.title_wrapper{
    font-size: 25px;
    padding: 20px 10px;
    color: #d3d3d3;
    max-height: 220px;
    overflow: hidden;
}
.link_boxmain{
    padding: 20px;
}
.cat{
    font-size: 23px;
    margin-top: 15px;
    color: rgb(76, 76, 76);
}
.prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
    font-size: 20px;
}
.purchases{
    font-size: 20px;
}
.oldPrice{
    text-decoration: line-through;
     color: rgb(188, 155, 9);
}
.price{
    color: rgb(0, 136, 82);
}
.info{
    width: 100%;
    display: flex;
    align-items: center;    
    background-color: #181818;
    padding: 10px 5px; 
    height: 60px;
} 
.purchases{
    font-size: 17px;
    max-width: 110px;
    text-align: center;
    line-height: 1.5;
    color: rgb(77, 77, 77);
}
.product{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    background-color: #212121;
    border-radius: 10px;
    width: 300px;
}
.cat_link{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.box_price{
    width: 100%;
}
@media(max-width:1300px){
    .list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    .image_box{
        width: 300px;
        align-items: center;
        justify-content: center;
    }
    .product{
        width: 300px;
    }
}