
.wrapper-bottom_header{
    display: grid;
    grid-template-columns: minmax(230px,.28fr) 1fr;
    margin-bottom: auto;
    margin: 20px 0;
    gap: 30px;
}
@media(max-width:1300px){
    .wrapper-bottom_header{
        display: block;
    }
}
.main{
    min-height: 100vh;
}