.main{
    min-height: 100vh;
}
.error{
    font-size: 50px;
    text-align: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: red;
}
.wrapper_error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.images{
    display: flex;
}
.wrapper-bottom_header{
    display: grid;
    grid-template-columns: minmax(230px,.28fr) 1fr;
    margin-bottom: auto;
    margin: 20px 0;
    gap: 30px;
}
@media(max-width:1300px){
    .wrapper-bottom_header{
        display: block;
    }
}