.wrapper{
    display: grid;
    grid-template-columns: minmax(230px,.28fr) 1fr;
    margin-bottom: auto;
    min-height: 100vh;
    height: 100%;
    margin: 20px 0;
    gap: 30px;
}
@media (max-width: 1300px){
    .wrapper{
        display: block;
    }
}
.cart_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.cart_list_item{
    display: grid;
    grid-template-columns: 2.9fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #181818;
    padding: 20px;
    border-radius: 15px;
}
.list_item_box_title{
    display: flex;
    gap: 20px;
    align-items: center;
}
.list_item_img_box{
    width: 150px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_item_img{
    width: 100%;
}
.list_item_title{
    font-size: 25px;
    line-height: 1;
    margin-bottom: 10px;
}
.list_item_text{
    display: inline;
    font-size: 15px;
    color: #7e7e7e;
    border-radius: 10px;
}
.list_item_price{
    font-size: 20px;
}
.list_item_boxprice{
    display: flex;
    gap: 20px;
    align-items: center;
}
.list_item_btnprice{
   width: 35px;
   height: 35px;
   font-size: 25px;
    background-color: #6C3EB8;
    border-radius: 6px;
}
.list_item_pricebtn{
    font-size: 14px;
    color: #576067;
    width: 20px;
    text-align: center;
}
.list_item_close_btn{
    width: 16px;
    height: 16px;
    justify-self: end;
}
@media (max-width: 680px){
    .cart_list_item{
        grid-template-columns: 7fr 1fr ;
        gap: 20px;
        width: 80%;
        margin: 0 auto;
    }
    .list_item_price{
        justify-self: end;
    }
    .list_item_title{
        display: block;
        font-size: 20px;
        max-width: 200px;
        word-wrap: break-word; /* Переносить слова */
        overflow-wrap: break-word; /* Альтернативний синтаксис */
    }
}
@media (max-width: 560px){
    .cart_list_item{
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .list_item_box_title{
        grid-column: 1/4;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .list_item_title{
        max-width: none;
    }
    .list_item_price{
        justify-self:start;   
    }
    .list_item_boxprice{
        justify-self: center;   
    }
}